body{

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url("lib/shot-by-cerqueira-0o_GEzyargo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // overflow: hidden

}

.navbar{

    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    border-bottom: 1px solid white;
    // display: none;
    
}

.logo{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;

    span{

        color: white;
        font-weight: bold;
        font-style: italic;
        text-transform: capitalize;
        letter-spacing: 1px;
        
    }

}

.menu{

    height: 100%;
    position: relative;
    top: -100%;

    ul{

        float: right;

        li{

            color: white;
            list-style: none;
            display: inline-block;
            margin-right: 20px;
            text-transform: capitalize;
            font-weight: bold;
            font-style: italic; 
            cursor: pointer;

            &:hover{

                text-decoration: underline;
                
            }

        }

        input{

            color: white;
            background: none;
            border: 1px solid grey;
            text-transform: capitalize;
            font-size: 10px;
            padding: 6px;
            opacity: 0.6;
            margin-right: 20px;
            margin-left: 20px;
            cursor: pointer;
            transition: all 1s ease-in-out;

            &:hover{

                opacity: 1;
                font-size: 13px;

            }

        }
    }
}

#team{

    width: 100%;
    height: 90%;
    position: relative;

}

.about{

    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
    width: 100%;

    img{

        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 10px; 

    }

    span{

        color: white;
        margin-left: 30px;
        margin-top: 40px;
        font-size: 20px;

    }

    i{

        color: white;
        margin-left: 30px;
        margin-top: 40px;
        font-size: 30px;
        cursor: pointer;

    }

}