body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: url("lib/bryan-goff-f7YQo-eYHdM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#navbar {
  position: relative;
  top: 0;
  left: 0%;
  height: 60px;
  border-bottom: 1px solid white;
  display: none;
  -webkit-animation: none;
          animation: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 200px;
}

.logo span {
  color: white;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.menu {
  height: 100%;
  position: relative;
  top: -100%;
}

.menu ul {
  float: right;
}

.menu ul li {
  color: white;
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.menu ul li:hover {
  text-decoration: underline;
}

.menu ul input {
  color: white;
  background: none;
  border: 1px solid grey;
  text-transform: capitalize;
  font-size: 10px;
  padding: 6px;
  opacity: 0.6;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.menu ul input:hover {
  opacity: 1;
  font-size: 13px;
}

#s_animation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#s_animation span {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  text-transform: capitalize;
  letter-spacing: 5px;
  -webkit-animation: text 3s 1;
          animation: text 3s 1;
}

.arrow {
  position: relative;
  top: 48%;
  left: 90%;
}

.arrow i {
  color: white;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
  -webkit-animation: arrow 3s 1;
          animation: arrow 3s 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.arrow i:hover {
  font-size: 25px;
}

i {
  color: white;
}

#story {
  position: relative;
  width: 100%;
  height: 80%;
  display: none;
  -webkit-animation: none;
          animation: none;
}

.text {
  position: relative;
  top: 18%;
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text p {
  font-size: 18px;
  color: white;
  text-align: left;
  margin-left: 60px;
}

.text img {
  height: 300px;
  width: 300px;
  margin-left: 30px;
  margin-right: 50px;
}

#b1 {
  color: white;
  background: #3498db;
  border: none;
  position: relative;
  padding: 8px;
  left: 65%;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  font-weight: bold;
  font-style: italic;
}

#b1:hover {
  color: black;
  background: white;
}

#t1 {
  color: white;
  position: relative;
  left: 60%;
  font-style: italic;
  margin: 10px;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.5;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.5;
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0.2;
    font-size: 60px;
  }
  30% {
    opacity: 0.7;
    letter-spacing: 20px;
    font-size: 40px;
  }
  85% {
    opacity: 1;
    letter-spacing: 5px;
    font-size: 30px;
  }
}

@keyframes text {
  0% {
    opacity: 0.2;
    font-size: 60px;
  }
  30% {
    opacity: 0.7;
    letter-spacing: 20px;
    font-size: 40px;
  }
  85% {
    opacity: 1;
    letter-spacing: 5px;
    font-size: 30px;
  }
}

@-webkit-keyframes slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes slide_2 {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide_2 {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
/*# sourceMappingURL=index.css.map */