body{

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url("lib/bryan-goff-f7YQo-eYHdM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#navbar{

    position: relative;
    top: 0;
    left: 0%;
    height: 60px;
    border-bottom: 1px solid white;
    display: none;
    animation: none;
    transition: all 1s ease-in-out;
    
}

.logo{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;

    span{

        color: white;
        font-weight: bold;
        font-style: italic;
        text-transform: capitalize;
        letter-spacing: 1px;
        
    }

}

.menu{

    height: 100%;
    position: relative;
    top: -100%;

    ul{

        float: right;

        li{

            color: white;
            list-style: none;
            display: inline-block;
            margin-right: 20px;
            text-transform: capitalize;
            font-weight: bold;
            font-style: italic; 
            cursor: pointer;
            
            &:hover{

                text-decoration: underline;

            }

        }

        input{

            color: white;
            background: none;
            border: 1px solid grey;
            text-transform: capitalize;
            font-size: 10px;
            padding: 6px;
            opacity: 0.6;
            margin-right: 20px;
            margin-left: 20px;
            cursor: pointer;
            transition: all 1s ease-in-out;

            &:hover{

                opacity: 1;
                font-size: 13px;

            }
        }
    }
}

#s_animation{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span{

        color: white;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        font-style: italic;
        transition: 1s all ease-in-out;
        text-transform: capitalize;
        letter-spacing: 5px;
        animation: text 3s 1; 
        // display: none;  //temporary
        
    }
}

.arrow{

    position: relative;
    top: 48%;
    left: 90%;

    i{
        
        color: white;
        font-size: 20px;
        opacity: 0.6;
        // display: none;  // temprary
        cursor: pointer;
        animation: arrow 3s 1;
        transition: all 0.5s ease-in-out;

        &:hover{

            font-size: 25px;

        }
    }
}

i{

    color: white;

}

#story{

    position: relative;
    width: 100%;
    height: 80%;
    display: none;
    animation: none;

}

.text{

    position: relative;
    top: 18%;
    width: 100%;
    height: 70%;
    display: flex;

    p{

        font-size: 18px;
        color: white;
        text-align: left;
        margin-left: 60px;

    }

    img{

        height: 300px;
        width: 300px;
        margin-left: 30px;
        margin-right: 50px;

    }

}

#b1{

    color: white;
    background: #3498db;
    border: none;
    position: relative;
    padding: 8px;
    left: 65%;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
    font-weight: bold;
    font-style: italic;

    &:hover{

        color:  black;
        background: white;
        
    }

}

#t1{

    color: white;
    position: relative;
    left: 60%;
    font-style: italic;
    margin: 10px;

}

@keyframes arrow{

    0%{
        
        opacity: 0;
        display: none;

    }

    50%{

        opacity: 0.2;

    }

    90%{

        opacity: 0.5;
    
    }

}

@keyframes text{

    0%{

        opacity: 0.2;
        font-size: 60px;
        //margin-bottom: -40px;

    }

    30%{

        opacity: 0.7;
        letter-spacing: 20px;
        font-size: 40px;
        // margin-bottom: -40px;

    }

    85%{

        opacity: 1;
        letter-spacing: 5px;
        font-size: 30px;
        // margin-bottom: -40px;

    }

}

@keyframes slide{

    0%{

        left: 100%;

    }

    100%{

        left: 0%;

    }
    
}

@keyframes slide_2{

    0%{

        left: 100%;
    
    }

    100%{

        left: 0%;

    }
}